---
import Logo from "../Common/Logo.astro";

// import { colors } from "../../lib/colors"

// const {} = colors
---

<header class="w-full fixed p-10">
    <Logo
        class="absolute top-1/2 left-4 transform -translate-y-1/2 w-16"
    />
    <nav class="flex-1">
        <ul class="flex justify-center gap-10">
            <li><a href="" class="linkNavLight">Inicio</a></li>
            <li><a href="" class="linkNavLight">Experiencia</a></li>
            <li><a href="" class="linkNavLight">Contáctame</a></li>
        </ul>
    </nav>
</header>

<style></style>