---
import Nav from '../components/layout/Nav.astro'
import Footer from '../components/layout/Footer.astro'
import { colors } from "../lib/colors"
import '@fontsource/arvo';

const {linkColor, backgroundColor} = colors

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<Nav/>
		<slot />
		<Footer/>
	</body>
</html>

<style is:global define:vars={{
	backgroundColor,
	linkColorDark: linkColor.dark, 
	linkColorLight: linkColor.light
}}>
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		color: var(--textColorDark);
	}

	html{
		background-color: var(--backgroundColor) !important;
	}

	a {
		color: var(--linkColorDark);
	}

	a.linkNavLight{
		color: var(--linkColorLight);
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Arvo', serif;
	}
</style>